[Desktop Entry]
StartupNotify=true
Name=Music Player
Exec=/bin/musicplayer
Icon=/usr/share/musicplayer/icon.png
Terminal=false
Type=Application
Categories=Music;
